{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="col-lg-8">
            <h1>This is chat</h1>
            <div class="panel-heading top-bar">
                    <div class="col-md-8 col-xs-8">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span><span id="chat_title_id"> Chat</span></h3>
                    </div>
                    <div class="col-md-4 col-xs-4" style="text-align: right;">
                        <a id="room_edit_link" href="{% url 'chat:edit_room' room=0 %}"><span class="glyphicon glyphicon-wrench edit-chat"></span></a>
                    </div>
            </div>
            <div id="chat_room">
            </div>
            <div class="panel-footer">
                    <div class="input-group">
                        <input id='chat_input' type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." >
                        <span class="input-group-btn">
                            <label id="image-label" class="btn btn-default btn-file disabled">
                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> 
                                <input type="file" name="image" id="chat_file_input" style="display: none;">
                            </label>
                            <button class="btn btn-primary btn-sm" id="btn-chat" disabled=true>Send</button>
                        </span>
                    </div>
                </div>
        </div>
        <div class="col-lg-4">
            <h1>Users list</h1>
            <div id="users">
                <ul class="list-group">
                {% for user in users %}
                    <li class="list-group-item">
                        <a class="user-name" href="#" username="{{user.username}}"> {{ user.username }} </a>
                        <a href="{% url 'users:change_friends' action='add' pk=user.pk %}" class="btn btn-sm btn-info" >Add friend</a>
                    </li>  
                {% endfor %}
                </ul>
            </div>

            <h1>Friends</h1>
            <div id="friends">
                <ul class="list-group">
                {% for friend in friends %}
                    <li class="list-group-item">
                        <a class="user-name" href="#" username="{{friend.username}}" room="{{friend.room}}" id="room-{{friend.room}}"> {{ friend.username }} {{friend.room}} </a>
                        <a href="{% url 'users:change_friends' action='loose' pk=friend.pk %}" class="btn btn-sm btn-danger">Remove friend</a>
                    </li> 
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

<script>

room_to_load = "{{ roomID }}";

setTimeout(function() { loadRoom(room_to_load); }, 500);
 
function loadRoom(room_to_load) { 
    if(room_to_load != "False"){
        document.getElementById("room-" + room_to_load).click();
    }
}

var user_id = {{ current_user_id }};
socket = new WebSocket("ws://" + window.location.host + "/chat/");

socket.onmessage = function(e) {

    var data = JSON.parse(e.data);
    if(data.msg_type == "msg"){
        if ( parseInt(user_id, 10) == parseInt(data.user_id,10) ){
            var newmsg = sent_message_template(data.message, data.username, data.user_image, new Date(Date.now()).toLocaleString('lt'));
        }else{
            var newmsg = got_message_template(data.message, data.username, data.user_image, new Date(Date.now()).toLocaleString('lt'));
        }
        document.getElementById("room-" + data.room).innerHTML = document.getElementById("room-" + data.room).innerHTML + newmsg;
        document.getElementById('chat_room').scrollTop = document.getElementById('chat_room').scrollHeight;
    }else if (data.msg_type == "joined"){

        document.getElementById('chat_room').style.background = "#" + data.room_background;
        document.getElementById('chat_title_id').innerText = data.room_title;

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.responseText);
                messages = JSON.parse(this.responseText);
               
                for(message in messages){
                    if ( parseInt(user_id, 10) == parseInt(messages[message].user_id, 10) ){
                        if(messages[message].message_type == "msg"){
                            var newmsg = sent_message_template(messages[message].message, messages[message].username, messages[message].profile_photo, messages[message].created);
                        }else if(messages[message].message_type == "image"){
                            var newmsg = sent_image_template(messages[message].message, messages[message].username, messages[message].profile_photo, messages[message].created);
                        }
                    } else {
                        if(messages[message].message_type == "msg"){
                            var newmsg = got_message_template(messages[message].message, messages[message].username, messages[message].profile_photo, messages[message].created);
                        }else if(messages[message].message_type == "image"){
                            var newmsg = got_image_template(messages[message].message, messages[message].username, messages[message].profile_photo, messages[message].created);
                        }
                    }
                    document.getElementById("room-" + messages[message].room).innerHTML = newmsg + document.getElementById("room-" + messages[message].room).innerHTML;                           
                }
                document.getElementById('chat_room').scrollTop = document.getElementById('chat_room').scrollHeight;
            }
        };
        xhttp.open("GET", "/chat/get_messages/" + data.room + "/", true);
        xhttp.send();
    }else if (data.msg_type == "image"){
        if ( parseInt(user_id, 10) == parseInt(data.user_id,10) ){
            var newmsg = sent_image_template(data.message, data.username, data.user_image, new Date(Date.now()).toLocaleString('lt'));
        }else{
            var newmsg = got_image_template(data.message, data.username, data.user_image, new Date(Date.now()).toLocaleString('lt'));
        }
        document.getElementById("room-" + data.room).innerHTML = document.getElementById("room-" + data.room).innerHTML + newmsg;
        document.getElementById('chat_room').scrollTop = document.getElementById('chat_room').scrollHeight;
    }

}

var elements = document.getElementById('friends').getElementsByTagName('a')
document.getElementById('chat_room').scrollTop = document.getElementById('chat_room').scrollHeight;

for (var i=0; i<elements.length; i++){
    elements[i].addEventListener('click', (function(){
        var name = elements[i].getAttribute("username");
        var room = elements[i].getAttribute("room");
  
        return function(){
            link = document.getElementById("room_edit_link").href.split("/")
            link[link.length-2] = room
            link = document.getElementById("room_edit_link").href = link.join("/")

            var roomdiv = "<div id='room-" + room + "'></div>";
            document.getElementById('btn-chat').removeAttribute('disabled');
            document.getElementById('image-label').classList.remove('disabled');
            socket.send(
                    JSON.stringify({
                        "command": "join",
                        "room": room,
                    })
            );
            document.getElementById('chat_room').innerHTML = roomdiv;       
        };
    })());
}
document.getElementById('btn-chat').addEventListener('click', function(){
    room = document.getElementById('chat_room').getElementsByTagName('div')[0].id
    room = room.split("-")
    room = room[room.length-1];
    input = document.getElementById('chat_input').value;
    document.getElementById('chat_input').value = '';
    socket.send(
        JSON.stringify({
            "command": "send",
            "message": input,
            "room": room,
            "message_type": "msg"
        })
    );
});
function got_message_template(text, user, profile_image, created){
    
    return '<div class="row msg_container base_receive">' +
        '<div class="col-md-2 col-xs-2 avatar">' +
            '<img src="/media/' + profile_image + '" class=" img-responsive ">' +
        '</div>' +
        '<div class="col-md-10 col-xs-10">'+
            '<div class="messages msg_receive">'+
                '<p>' + text + '</p>'+
                '<time datetime="' + created + '">' + user + ' ' + created+' </time>'+
            '</div>'+
        '</div>'+
    ' </div>';
}
function sent_message_template(text, user, profile_image, created){
    return '<div class="row msg_container base_sent">'+
               '<div class="col-md-10 col-xs-10">'+
                   '<div class="messages msg_sent">'+
                       '<p>' + text + '</p>'+
                       '<time datetime="' + created + '">' + user + ' ' + created+' </time>'+
                   '</div>'+
                '</div>'+
                '<div class="col-md-2 col-xs-2 avatar">'+
                    '<img src="/media/' + profile_image + '" class=" img-responsive ">'+
                '</div>'+
            '</div>';
}
function got_image_template(text, user, profile_image, created){
    
    return '<div class="row msg_container base_receive">' +
        '<div class="col-md-2 col-xs-2 avatar">' +
            '<img src="/media/' + profile_image + '" class=" img-responsive ">' +
        '</div>' +
        '<div class="col-md-10 col-xs-10">'+
            '<div class="messages msg_receive">'+
                '<img class="message-img" src="/media/room_images/' + text + '" />'+
                '<time datetime="' + created + '">' + user + ' ' + created+' </time>'+
            '</div>'+
        '</div>'+
    ' </div>';
}
function sent_image_template(text, user, profile_image, created){
    return '<div class="row msg_container base_sent">'+
               '<div class="col-md-10 col-xs-10">'+
                   '<div class="messages msg_sent">'+
                       '<img class="message-img" src="/media/room_images/' + text + '" />'+
                       '<time datetime="' + created + '">' + user + ' ' + created+' </time>'+
                   '</div>'+
                '</div>'+
                '<div class="col-md-2 col-xs-2 avatar">'+
                    '<img src="/media/' + profile_image + '" class=" img-responsive ">'+
                '</div>'+
            '</div>';
}

document.getElementById('chat_file_input').addEventListener('change', function(){
    
    var file = this.files[0];
    name = file.name;
    size = file.size;
    type = file.type;

    if(file.name.length < 1) {
    }
    else if(file.size > 100000) {
        alert("The file is too big");
    }
    else if(file.type != 'image/png' && file.type != 'image/jpg' && file.type != 'image/gif' && file.type != 'image/jpeg' ) {
        alert("The file does not match png, jpg or gif");
    }
    else {
        
        var formData = new FormData();
        room = document.getElementById('chat_room').getElementsByTagName('div')[0].id
        room = room.split("-")
        room = room[room.length-1];
        formData.append("image", file);
        formData.append("room", room);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/chat/upload_photo/', true);
        xhr.send(formData);

        xhr.onreadystatechange = function() {
            
            if (this.readyState == 4 && this.status == 200) {
                response = JSON.parse(this.responseText);

                socket.send(
                    JSON.stringify({
                        "command": "send",
                        "message": response.imagename,
                        "room": response.room,
                        "message_type": "image"
                    })
                );
                document.getElementById('chat_file_input').value = '';
            }
        };
    }
});

</script>

{% endblock content %}